# Archivos y directorios de entornos virtuales
venv/
env/
.venv/
.env/

# Archivos de compilación de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs y bases de datos locales
*.log
*.sqlite3

# Configuraciones específicas de Django
.env
.DS_Store
db.sqlite3
media/
staticfiles/

# Archivos de configuración de IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de paquetes y distribuciones
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Configuraciones y archivos temporales
.coverage
.mypy_cache/
.pytest_cache/
.tox/
.ipynb_checkpoints/
.pytest_cache/

# Excluye migraciones si se desea
# **/migrations/*
# !**/migrations/__init__.py